<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header align-items-center d-block d-md-flex justify-content-between">
                    <h1>Daftar Voucher</h1>
                    <div class="d-flex justify-content-end row g-1" style="width: 80%">
                        <div class="col-7 d-flex justify-content-end">
                            <div style="min-width: 200px;">
                                <ng-select [items]="customers" (change)="filterByCustomer($event)" id="filter-customer"
                                    placeholder="Pilih Customer" bindLabel="name" bindValue="id" [loading]="showLoading"
                                    [searchable]="false" [multiple]="true" class="custom-style">
                                    <ng-template ng-header-tmp>
                                        <input class="form-control" type="text" debounceKeyUp
                                            (onEvent)="getCustomers($event.target.value)" />
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-3">
                            <app-daterangepicker [startDate]="filter.start_time" [endDate]="filter.end_time"
                                [showRanges]="'true'" (onChange)="filterByPeriode($event)">
                            </app-daterangepicker>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary w-100 font-size-12" (click)="formCreate()">
                                <em class="fa fa-plus font-size-12 align-middle me-1"></em> Tambah Voucher
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover" datatable [dtOptions]="dtOptions">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 70px;">No</th>
                                <th>Voucher</th>
                                <th>Customer</th>
                                <th>Total Voucher</th>
                                <th>Periode</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let voucher of listVoucher;">
                                <td class="vertical-middle">
                                    {{voucher.no}}
                                </td>
                                <td class="vertical-middle">
                                    <img class="img-voucher" src="{{voucher.photo_url}}" alt="" />
                                </td>
                                <td class="vertical-middle">{{voucher.customer_name}}</td>
                                <td class="vertical-middle">{{voucher.total_voucher | number}}</td>
                                <td class="vertical-middle">{{voucher.start_time | date:'dd-MM-yyyy'}} s.d
                                    {{voucher.end_time | date:'dd-MM-yyyy'}}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle mr-2"
                                        (click)="formUpdate(voucher)" placement="left" container="body"
                                        ngbTooltip="Ubah">
                                        <em class="fa fa-edit font-size-14"></em>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle"
                                        (click)="deleteVoucher(voucher.id)" placement="left" container="body"
                                        ngbTooltip="Hapus">
                                        <em class="fa fa-trash font-size-14"></em>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleForm}}</h1>
                </div>
                <div class="card-body">
                    <app-form-voucher [voucherId]="voucherId"
                        (afterSave)="setDefaultFilter(); showForm = false;"></app-form-voucher>
                </div>
            </div>
        </div>
    </div>
</div>