<form>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group row">
                <div class="col-md-12">
                    <app-upload-image [defaultImage]="formModel.photo_url" [ratioHigh]="3" [ratioWidth]="3"
                        (onSubmit)="getCroppedImage($event)"></app-upload-image>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row">
                <label class="form-label col-md-3 required">Customer</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <ng-select class="flex-fill" [items]="customers" placeholder="Pilih Customer" bindLabel="name"
                                   bindValue="id"
                                   [loading]="showLoading" [searchable]="false" [(ngModel)]="formModel.customer_id"
                                   name="customer_id">
                            <ng-template ng-header-tmp>
                                <input class="form-control" type="text" debounceKeyUp
                                       (onEvent)="getCustomers($event.target.value)"/>
                            </ng-template>
                        </ng-select>
                        <div class="input-group-append" (click)="createCustomer(formCustomer)">
                            <span class="input-group-text h-100">
                                <em class="fa fa-plus"></em>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 required">Voucher</label>
                <div class="col-md-9">
                    <ng-select [items]="promo" placeholder="Pilih Voucher" bindLabel="name" bindValue="id"
                        [loading]="showLoading" [searchable]="false" [(ngModel)]="formModel.promo_id" name="promo_id"
                        (change)="setSelectedPromo($event)">
                        <ng-template ng-header-tmp>
                            <input class="form-control" type="text" debounceKeyUp
                                (onEvent)="getVoucherById($event.target.value)" />
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 required">Periode</label>
                <div class="col-md-9">
                    <app-daterangepicker [startDate]="formModel.start_time" [endDate]="formModel.end_time"
                        [showRanges]="'true'" (onChange)="setPeriodValue($event)"></app-daterangepicker>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 required">Jumlah</label>
                <div class="col-md-9">
                    <input [(ngModel)]="formModel.total_voucher" type="text" name="total_voucher" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 required">Nominal</label>
                <div class="col-md-9">
                    <div class="input-group mr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Rp
                            </span>
                        </div>
                        <input [(ngModel)]="formModel.nominal_rupiah" type="text" name="nominal_rupiah"
                            class="form-control" placeholder="Ex. 10.000">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row">
                <label class="col-md-3">Catatan</label>
                <div class="col-md-9">
                    <ckeditor [editor]="configEditor" [(ngModel)]="formModel.description" name="description">
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-light mr-2" (click)="afterSave.emit()"><em
                    class="fa fa-arrow-left"></em> Kembali</button>
            <button type="button" class="btn btn-primary" (click)="save()"><em class="fa fa-save"></em> Simpan</button>
        </div>
    </div>
</form>

<ng-template #formCustomer let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Form Add Customer</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-form-customer [userId]="''" (afterSave)="modal.close(); getCustomers()"></app-form-customer>
    </div>
</ng-template>